.award-wrapper {
    width: 100%;
    height: 400px;
    margin: 0 auto;
    position: relative;
    text-align: center;
}

.award-show {
    width: 100%;
    position: absolute;
    height: 280px;
    margin: 0 auto;
    top: 0;
    background-color: #fafafa;
    /*border: 1px solid #eee;*/
}

.award-show .award-title {
    padding-top: 50px;
    color: #388AC3;
    font-size: 16px;
}

.award-show .award-logo {
    border: 1px solid #388AC3;
    border-radius: 50%;
    width: 65px;
    height: 65px;
    margin: 24px auto 0;
    font-size: 30px;
    line-height: 65px;
    color: #388AC3;
    background-color: #ffffff;
    font-weight: bolder;
}

.award-show .award-logo:hover {
    color: #ffffff;
    cursor: pointer;
    background-color: #388AC3;
}

.award-people {
    padding-top: 16px;
    color: #666666;
    font-size: 18px;
}

.award-people-logo {
    width: 100%;
    height: auto;
    padding-top: 15px;
}

.award-people-logo>ul {
    display: block;
    padding-left: 0;
    font-size: 0;
}

.award-people-logo>ul>li {
    display: inline-block;
    list-style: none;
    width: 36px;
    height: 36px;
    border-radius: 50%;
    background-color: #fafafa;
}

.award-people-logo li:not(:first-child) {
    margin-left: 10px;
}

.award-hide {
    display: none;
    position: absolute;
    top: -70px;
    width: 90%;
    left: 5%;
    height: 450px;
    margin: 0 auto;
    background-color: #ffffff;
    border: 1px solid #eee;
    z-index: 20;
    -webkit-animation: show-hide 0.8s;
    -moz-animation: show-hide 0.8s;
    -o-animation: show-hide 0.8s;
    animation: show-hide 0.8s;
}

@-webkit-keyframes show-hide {
    0% {
        filter: alpha(opacity=0);
        -moz-opacity: 0;
        -khtml-opacity: 0;
        opacity: 0;
    }
    100% {
        filter: alpha(opacity=100);
        -moz-opacity: 1;
        -khtml-opacity: 1;
        opacity: 1;
    }
}

@-o-keyframes show-hide {
    0% {
        filter: alpha(opacity=0);
        -moz-opacity: 0;
        -khtml-opacity: 0;
        opacity: 0;
    }
    100% {
        filter: alpha(opacity=100);
        -moz-opacity: 1;
        -khtml-opacity: 1;
        opacity: 1;
    }
}

@-khtml-keyframes show-hide {
    0% {
        filter: alpha(opacity=0);
        -moz-opacity: 0;
        -khtml-opacity: 0;
        opacity: 0;
    }
    100% {
        filter: alpha(opacity=100);
        -moz-opacity: 1;
        -khtml-opacity: 1;
        opacity: 1;
    }
}

@-ms-keyframes show-hide {
    0% {
        filter: alpha(opacity=0);
        -moz-opacity: 0;
        -khtml-opacity: 0;
        opacity: 0;
    }
    100% {
        filter: alpha(opacity=100);
        -moz-opacity: 1;
        -khtml-opacity: 1;
        opacity: 1;
    }
}

@-moz-keyframes show-hide {
    0% {
        filter: alpha(opacity=0);
        -moz-opacity: 0;
        -khtml-opacity: 0;
        opacity: 0;
    }
    100% {
        filter: alpha(opacity=100);
        -moz-opacity: 1;
        -khtml-opacity: 1;
        opacity: 1;
    }
}

@keyframes show-hide {
    0% {
        filter: alpha(opacity=0);
        -moz-opacity: 0;
        -khtml-opacity: 0;
        opacity: 0;
    }
    100% {
        filter: alpha(opacity=100);
        -moz-opacity: 1;
        -khtml-opacity: 1;
        opacity: 1;
    }
}

.award-hide .close-switch {
    position: absolute;
    /*right: 30px;*/
    right: 30px;
    top: 30px;
    margin: 0 auto;
    text-align: center;
}

.award-hide .close-switch:hover {
    cursor: pointer;
}

.author-logo {
    width: 96px;
    height: 96px;
    margin: 30px auto 30px;
    border-radius: 50%;
    border: 1px solid #388AC3;
}

.svg-icon-del {
    height: 12px;
    width: 12px;
    background-image: url("../img/icon-del.svg");
}

.svg-icon {
    speak: none;
    font-style: normal;
    font-weight: normal;
    -webkit-font-feature-settings: normal;
    font-feature-settings: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    vertical-align: baseline;
    display: inline-block;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: cente
}

.author-logo-img {
    width: 80px;
    height: 80px;
    margin: 8px 0 0 12px;
    background-image: url("../img/android-chrome-96x96.png");
    background-size: cover;
}

.award-says {
    text-align: center;
    font-weight: 500;
    font-size: 16px;
    color: #333333;
    line-height: 20px;
}

.award-says.small {
    font-size: 14px;
    color: rgb(9, 64, 100);
}

.qrcode-wrapper {
    width: 100%;
    height: auto;
    margin: 56px auto 0;
    display: block;
}

.qrcode {
    width: 45%;
    display: inline-block;
}

.qrcode img {
    margin: 0 auto;
    width: 45%;
}

.qrcode-img {
    width: 150px;
    height: 150px;
}

.qrcodeAli .qrcode-img {
    /*background-image: url("{{ .Site.BaseURL }}images/zfb.jpg");*/
    background-size: contain;
}

.qrcodeWc .qrcode-img {
    /*background-image: url("{{ .Site.BaseURL }}images/wx.jpg");*/
    background-size: contain;
}

.qrcode h3 {
    margin-top: 10px;
    font-size: 20px;
    color: #333333;
}


/*.icon-li.icon-1{*/


/*background: url("{{ .Site.BaseURL }}images/tx/a.jpg");*/


/*background-size: contain;*/


/*}*/


/*.icon-li.icon-2{*/


/*background: url("{{ .Site.BaseURL }}images/tx/b.jpg");*/


/*background-size: contain;*/


/*}*/


/*.icon-li.icon-3{*/


/*background: url("{{ .Site.BaseURL }}images/tx/c.jpg");*/


/*background-size: contain;*/


/*}*/

@media screen and (max-width: 480px) {
    .containner {
        width: 90%!important;
    }
    .award-show .award-title {
        padding-top: 20px;
    }
    .award-hide {
        width: 120%;
        left: -15%;
        height: 380px;
    }
    .qrcode h3 {
        font-size: 12px;
    }
}

@media screen and (max-width: 720px) and (min-width: 481px) {
    .containner {
        width: 80%!important;
    }
    .award-show .award-title {
        padding-top: 30px;
    }
    .award-hide {
        height: 420px;
    }
    .qrcode h3 {
        font-size: 15px;
    }
}